/*  */
.carousel__container {
  border-bottom: 2px solid darkgray;
  width: 100%;
  height: 100%;
}

/* This Contains the Image of the Carousel */
.picsum-img-wrapper {
  background: white;
  /* border-bottom: 1px solid darkgray; */
  padding: 10px;
  /* height: 100%; */
  display: flex;
  justify-content: center;
}

/* This is the Carousel Images */
.carousel__images {
  border-radius: 10px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 420px;
}

/* This is the Tags Container */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tags a {
  background-color: whitesmoke;
  border: 1px solid darkgray;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.5rem;
  border-radius: 10rem;
  font-weight: 600;
  /* font-family: "Quicksand"; */
  color: brown;
}
.tags a:hover {
  opacity: 0.9;
}

/* The Ul Container */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

/* list of the Food Items  */
li a {
  height: 290px;
  width: 230px;
  border: 1px solid lightgray;
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: brown;
}

/* Hover over the List */
li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* The Image  of  the Food Items */
.food__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* The Details of the Image */
.contents {
  padding: 5px;
  /* background-color: whitesmoke; */
}

.name {
  border: 1px solid whitesmoke;
  font-weight: bold;
  background: whitesmoke;
  display: flex;
  justify-content: space-between;
}

/* The Favorite Icon */
.favorite {
  color: red;
}

/* if it's not Favorite */
.favorite.not {
  color: darkgray;
}

/* The Ratings and CookTime Container */
.rating__cookTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* The Ratings Stars */
.rating {
  margin-bottom: 3px;
}

/* TheCookTime Required */
.cookTime {
  font-family: "Quicksand", "sans-serif";
  font-size: 15px;
  font-weight: 600;
}

/* This Contains the origins, CookTime and price */
.product-item-footer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  word-spacing: 1px;
}

/* The origin Section */
.origins {
  font-family: "Quicksand", "Sans-serif";
  font-style: oblique;
  /* font-size: large; */
  font-weight: 600;
  background: whitesmoke;
  color: rgb(11, 16, 3);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

/* The price Section */
.price {
  font-family: "Quicksand", "sans-serif";
  font-size: 15px;
  font-weight: 600;
}
