<!-- The Title -->
<div class="heading">
  <app-cart-page-title title="Your Account Details"></app-cart-page-title>
  <hr>
</div>

<!-- MAIN Container for User Details -->
<div class="container">
  <div class="details">
    <!-- The User Name -->
    <div class="name">
      <h5>Name:</h5>
      <span>{{user.name}}</span>
    </div>
    <!-- The User Email Address -->
    <div class="email">
      <h5>Email:</h5>
      <span>{{user.email}}</span>
    </div>
    <!-- The User Address -->
    <div class="address">
      <h5>Address:</h5>
      <span>{{user.address}}</span>
    </div>
  </div>
</div>

<!-- The Image section Below Food item -->
<div class="sections__container">
  <!-- First Section -->
  <div class="section">
    <div class="section__image">
      <img class="image" width="150" height="150"
      src="https://cdn-icons-png.flaticon.com/512/2107/2107854.png"
      alt="">
    </div>
    <div class="textOne">No Minimum Order</div>
    <div class="textTwo">Order in for yourself or for the group, with no restrictions on order value</div>
  </div>
  <!-- Second Section -->
  <div class="section">
    <div class="section__image">
      <img class="image" width="150" height="150"
      src="https://cdn-icons-png.flaticon.com/512/2821/2821876.png"
      alt="">
    </div>
    <div class="textOne">Live order Tracking</div>
    <div class="textTwo">Know where your order is at all times, from the restaurant to your doorstep</div>
  </div>
  <!-- Third Section -->
  <div class="section">
    <div class="section__image">
      <img class="image" width="150" height="150"
      src="https://cdn-icons-png.flaticon.com/512/3027/3027212.png"
      alt="">
    </div>
    <div class="textOne">Lightning-Fast Delivery</div>
    <div class="textTwo">Experience Swiggy's superfast delivery for food delivered fresh & on time</div>
  </div>
</div>
