/* The Header TAG */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: relative;
    height: 40px;
    width: 100%;
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #F0F600;
  }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    position: relative;
    background-color: white;
    padding: 0;
    border-bottom: 1px solid #F0F600;
  }  
}

/* All the a TAGs inside the Header */
header a {
  text-decoration: none;
  color: #880D1E;
}

/* When we HOVER on the a TAGs */
header a:hover {
  /* background: greenyellow; */
  cursor: pointer;
  /* color: whitesmoke; */
}

/* The Section Contains All Section i. Main Container for Options */
.container__options {
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* The Name of the Application */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .name {
    font-family: "Quicksand", "sans-serif";
    font-size: medium;
    font-weight: bold;
    /* padding: 10px; */
  }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .name {
    font-family: "Quicksand", "sans-serif";
    font-size: large;
    font-weight: bold;
    padding: 10px;
  }
}

/* The search field and Icon */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Search ABr Input Field */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search__input {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 10px;
    height: 30px;
    width: 70px;
    padding: 7px;
    outline: none;
    border: 1px solid #B57BA6;
    box-shadow: 0px 2px 5px -2px #B57BA6;
    display: flex;
  }  
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search__input {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 15px;
    height: 35px;
    width: 265px;
    padding: 7px;
    outline: none;
    border: 1px solid #B57BA6;
    box-shadow: 0px 2px 5px -2px #B57BA6;
    display: flex;
  }
}


/* The Search Icon in the Input */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search__icon {
    cursor: pointer;
    color: brown;
    position: absolute;
    left: 41%;
    bottom: 9px;
    font-size: 17px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search__icon {
    cursor: pointer;
    color: brown;
    position: absolute;
    left: 34.5%;
    bottom: 13px;
    font-size: 17px;
  }
}


/* The Services Logo Container */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .services__logo {
  display: none;
  flex: 0.5;
  justify-content: space-between;
  align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.services__logo {
  /* border: 1px solid yellow; */
  display: flex;
  flex: 0.5;
  justify-content: space-between;
  align-items: center;
}
}

/* This Container for User Details */
.user__details {
  font-size: larger;
  /* font-family: Arial, Helvetica, sans-serif; */
  position: relative;
  display: flex;
  align-items: center;
}

/* UnOrdered List inside the user Details */
.user__details ul {
  width: 200px;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.user__details ul a {
  display: inline-block;
  padding: 3px;
}

/* The Cart COUNT */
.user__details ul a span {
  color: #880D1E;
  padding: 2px 2px;
  font-size: 17px;
}

/* The Profile, orders and Logout Container */
.dropdown__menu {
  /* border: 1px solid #880D1E; */
  border-radius: 5px;
  border: 1px solid #880D1E;
  position: absolute;
  z-index: 1;
  background: #fffffff9;
  box-shadow: 0px 2px 5px -2px;
  /* This will Hide the DropDown Section */
  display: none;
}

/* The DropDown Arrow */
/* .dropdown__arrow {
  font-weight: bold;
  font-size: medium;
  margin-left: 1px;
} */

.dropdown__menu a {
  width: 100%;
  min-width: 5px;
}

/* This will Show the User DropDown Section when We Hover Over the UserName */
.user__menu:hover .dropdown__menu {
  display: block;

  z-index: 10;
  cursor: pointer;
  width: 100px;
  /* position: absolute; */
}
