<div class="container">
    <div class="content">
        <!-- theApp title Component -->
        <app-cart-page-title title="Your Order Details" fontSize="1.6rem"></app-cart-page-title>

        <!-- the order Form -->
        <form
        [formGroup]="checkoutForm"
        (ngSubmit)="createOrder()">

        <!-- the Name of the User -->
        <text-input
        [control]="fc.name"
        label="Name"></text-input>

        <!-- The Address to Deliver -->
        <text-input
        [control]="fc.address"
        label="Address"></text-input>
    </form>

    <!-- Render the Order-Items-List Component -->
    <order-items-list [order]="order"></order-items-list>
    </div>

    <!-- the MAP Section -->
    <div class="map">
        <!-- app title Component -->
        <app-cart-page-title
        title="Choose Your Location On Map"
        fontSize="1.6rem"></app-cart-page-title>

        <!-- Render the MAP Component -->
        <!-- Define [order] to get the Location by Clicking the Button Find My Location -->
        <map [order]="order"></map>

        <!-- The Buttons Container --Payment Button -->
        <div class="buttons__container">
            <div class="buttons">
                <button (click)="createOrder()">Go To Payment</button>
            </div>
        </div>
    </div>
</div>
