/* the Main Container */
.container {
    margin-top: 1rem;
    display: flex;
    margin: 0 1rem 3rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* This Contains the Form and order-items-List */
.content {
    width: 35rem;
    margin-right: 3rem; 
}

/* The Content and the Form class */
.content,form {
     display: flex;
     flex-direction: column;
}

/* The Checkout Form */
form {
    width: 100%;
}

/*the Main buttons Container --the Go To Payment  */
.buttons__container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the Buttons Container */
.buttons {
    margin: 2rem;
    width: 20rem;
}

/* the Go To Payment Button */
button {
    color: white;
    background-color: #e72929;
    width: 100%;
    height: 3rem;
    opacity: 0.8;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 2px grey;  
}

button:hover {
    opacity: 1;
}